body {
  text-align: center;
  font-family: "Roboto", sans-serif;
}
#finger {
  width: 10%;
  filter: hue-rotate(0deg);
  cursor: pointer;
}
button {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid #000000;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #000000;
  text-align: center;
  transition: all 0.2s;
  background-color: white;
}
button:hover {
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
}
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: auto;
  color: white;
  text-align: center;
}
#footer-copy {
  color: black;
  display: block;
  text-decoration: none;
}
#footer-copy:hover {
  opacity: 0.8;
}
#mark {
  display: none;
  position: absolute;
  width: 90%;
  left: 5%;
  bottom: 10px;
}
@media (min-width: 320px) and (max-width: 1024px) {
  #finger {
    width: 40% !important;
  }
  h1 {
    font-size: 600%;
  }
  button {
    display: block;
    margin: 20px auto;
    border: 0.1em solid #000000;
    font-size: 350%;
    transition: all 0s;
  }
  .popover {
    font-size: 50px !important;
    bottom: -85px !important;
  }
  .copy:hover .popover {
    display: block;
    animation: fade-in 0.3s linear 1, move-up-mobile 0.3s linear 1 !important;
    -webkit-animation: fade-in 0.3s linear 1, move-up-mobile 0.3s linear 1 !important;
    -moz-animation: fade-in 0.3s linear 1, move-up-mobile 0.3s linear 1 !important;
    -ms-animation: fade-in 0.3s linear 1, move-up-mobile 0.3s linear 1 !important;
  }
  #footer-copy {
    font-size: 30px;
  }

  .github-button,
  .twitter-button {
    font-size: 35px !important;
    display: block;
    max-width: 50%;
    margin: 20px auto;
    padding: 10px !important;
  }
  .github-logo,
  .twitter-logo {
    width: 50px !important;
  }
}
.popover {
  cursor: default;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 5px;
  margin-top: 50px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  color: #fff;
  display: none;
  font-size: 12px;
  font-family: "Helvetica", sans-serif;
  position: absolute;
  bottom: -35px;
  padding: 7px 10px;
  z-index: 4;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.popover:before {
  border-bottom: 7px solid rgba(0, 0, 0, 0.85);
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  top: -7px;
  content: "";
  display: block;
  left: 50%;
  margin-left: -7px;
  position: absolute;
}
.copy {
  position: relative;
  text-align: center;
}
.copy:hover .popover {
  display: block;
  animation: fade-in 0.3s linear 1, move-up 0.3s linear 1 !important;
  -webkit-animation: fade-in 0.3s linear 1, move-up 0.3s linear 1;
  -moz-animation: fade-in 0.3s linear 1, move-up 0.3s linear 1;
  -ms-animation: fade-in 0.3s linear 1, move-up 0.3s linear 1;
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes move-up {
  from {
    bottom: -40px;
  }
  to {
    bottom: -35px;
  }
}
@-webkit-keyframes move-up {
  from {
    bottom: -40px;
  }
  to {
    bottom: -35px;
  }
}
@-moz-keyframes move-up {
  from {
    bottom: -40px;
  }
  to {
    bottom: -35px;
  }
}
@-ms-keyframes move-up {
  from {
    bottom: -40px;
  }
  to {
    bottom: -35px;
  }
}
@keyframes move-up-mobile {
  from {
    bottom: -90px !important;
  }
  to {
    bottom: -85px !important;
  }
}
@-webkit-keyframes move-up-mobile {
  from {
    bottom: -90px !important;
  }
  to {
    bottom: -85px !important;
  }
}
@-moz-keyframes move-up-mobile {
  from {
    bottom: -90px !important;
  }
  to {
    bottom: -85px !important;
  }
}
@-ms-keyframes move-up-mobile {
  from {
    bottom: -90px !important;
  }
  to {
    bottom: -85px !important;
  }
}

.github-button {
  text-decoration: none;
  color: black;
  background-color: #d1d1d1;
  padding: 7px;
  border-radius: 1px;
  transition: background 0.2s ease;
}

.github-button:hover {
  background-color: #b0b0b0;
  transition: background 0.2s ease;
}

.github-logo {
  content: url("https://image.flaticon.com/icons/svg/25/25231.svg");
  width: 20px;
  margin-top: -3px;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  padding-right: 5px;
}

.twitter-button {
  text-decoration: none;
  color: white;
  background-color: #1b95e0;
  padding: 7px;
  border-radius: 1px;
  transition: background 0.2s ease;
}

.twitter-button:hover {
  background-color: #157ebf;
  transition: background 0.2s ease;
}

.twitter-logo {
  content: url("/twitter");
  width: 20px;
  margin-top: -3px;
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  padding-right: 5px;
}
